a{
    text-decoration:none;
}

#info{
    margin: auto ; 
    height: auto;
}

#map {
    margin:auto;
    height: 500px;
  }
  
#citymap{
    height: 600px;
}

.view{height: 100px;}

.text-clear{color :fuchsia}