{% extends 'base.html' %}

{% block content %}
{% for item in page_obj%}

<div class="p-4 m-4 bg-light border border-success rounded">
  <h2 class="text-success">{{item.place_name}}</h2>
  <h6>{{item.place_headline}}</h6>
  <h6 class="adress">場所:{{item.place_adress}}</h6>
  <h6>所要時間:{{item.required_time}}</h6>
  <img src={{item.thumbnail}} class="view">

  <div class="mt-3">

    <a href="{% url 'detail-place' item.pk %}" class="btn btn-primary">詳細へ</a>

  </div>

</div>

{% endfor %}

{% include 'component/pagination.html' %}
{% include 'component/pagination2.html' %} 
{% endblock content %}