{% extends 'base.html' %}
{% block content %}
<div class="p-4 m-4 bg-light border border-success rounded">
    <h2 class="text success">{{ object.place_name}}</h2>
    <h3>{{object.headline}}</h3>
    <p>{{ object.place_detail}}</p>
 
    <img src={{object.thumbnail}}>
    
    {% if request.user.is_authenticated %}
    <a href ="{% url 'review' object.pk %}" class="btn btn-primary">レビューする</a>
    <a href="{% url 'follow' object.pk %}" class="btn btn-primary">お気に入り追加</a>
    {% endif %}

    <table border="1" class="info">
        <tr>
            <th>{{object.place_adress}}</th>
        <tr>
            <th>{{object.place_opening}}</th>
        </tr>
        <tr>
            <th>{{object.place_access}}</th>
        </tr>
        <tr>
            <th>{{object.place_parking}}</th>
        </tr>
        <tr>
            <th>{{object.place_url}}</th>
        </tr>
    </table>

    <div id="map"></div>

    <script>
        // Initialize and add the map
        function initMap() {

            //const geocoder = new google.maps.Geocoder();

            //const address = '{{object.place_adress}}';
            const lat = {{object.geo_lat}};
            const lng = {{object.geo_lng}};
            const position = { lat: lat, lng: lng };

            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 12,
                center: position
            });
            new google.maps.Marker({
                position: position,
                map,

            });
            

        }


        window.initMap = initMap;

    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgd0aDbXECj_riwa3iG7HnqtSSGptQpYM&callback=initMap&v=weekly"
        defer></script>

</div>
{% if request.user.is_authenticated %}
<a href ="{% url 'review' object.pk %}" class="btn btn-primary">レビューする</a>
{% endif %}
{% endblock content %}