{% for list_obj in area_obj%}
<script>
     const features = '{{object.place_adress}}'
     geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == 'OK') {

                    const map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 12,
                        center: results[0].geometry.location,
                    });

                    new google.maps.Marker({
                        position: results[0].geometry.location,
                        map,
                        
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
</script>
{% endfor %}

<nav>
    <script>
        var map;
        var marker;
        var geocoder;
        var infoWindow;
        //#変数markarsでマーカーを立てる
        var markerData = markers;
        function initMap() {
            var mapLatLng = new google.maps.LatLng({lat: markerData[0]['lat'], lng: markerData[0]['lng']}); 
            // 緯度経度のデータ作成
            map = new google.maps.Map(document.getElementById('list-map'), {
                           
                center: mapLatLng,
                zoom: 13
            });
        }


       
        
        for (let i = 0; i < features.length; i++) {
            const marker = new google.maps.Marker({
                position: features[i].position,
                icon: icons[features[i].type].icon,
                map: map,
            });
        }


    </script>
</nav>